include README.md
include LICENSE
include MANIFEST.in
recursive-include quantum_harvest *.py
recursive-include quantum_harvest *.html
recursive-include quantum_harvest *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
